@import helper._
@import models._

@(subscriptionForm: Form[Subscription], user: User)(implicit messages: Messages)

@noUser {

    <style>
        body {
            justify-content: center;
        }
    </style>

    <h1 class="title"> Add a subscription </h1>

    @form(routes.Application.save(user.userId)) {
        <fieldset>

            <dl class="form-group">
                <dt><label for="date">Date of renewal</label></dt>

                <dd>
                    <input type="date" class="form-control" id="date" name="date" value="" />
                </dd>
            </dl>

            <dl class="form-group" id="cost">
                <dt><label>Cost of Renewal</label></dt>
                    <dd><input type="number" class="form-control" name="cost" placeholder="Cost of Renewal"/></dd>
            </dl>

            <dl class="form-group">
                <dt><label for="autocomplete">Subscription's Company Name</label></dt>

                <dd><select name='name' id='autocomplete' class="form-control" >
                </select></dd>
            </dl>


            <dl class="form-group" id="frequency">
                <dt><label for="frequency">Frequency of Renewal</label></dt>

                <dd><select name="frequency" class="form-control">
                    <option selected disabled>Select a frequency...</option>
                    <option value="7">Every week</option>
                    <option value="14">Every two weeks</option>
                    <option value="30">Once a month</option>
                    <option value="90">Every three months</option>
                    <option value="180">Every six months</option>
                    <option value="365">Every year</option>
                    <option value="730">Every two years</option>
                </select></dd>
            </dl>

            <dl class="form-group" id="category">
                <dt><label for="category">Subscription Category</label></dt>

                <dd><select name="category" class="form-control">
                    <option selected disabled>Choose a category...</option>
                    <option value="Business">Business</option>
                    <option value="Education">Education</option>
                    <option value="Entertainment">Entertainment</option>
                    <option value="Health">Health</option>
                </select></dd>
            </dl>

            <input type="hidden" name="userId" value="@user.id" />

        </fieldset>



        <div class="actions">
            <input type="submit" value="Create this subscription" class="btn btn-success"/>
            <a href="@routes.Application.list()" class="btn btn-danger">Cancel</a>
        </div>
    }
}