@import helper._
@import models.User

@(subscriptionForm: Form[Subscription], maybeUser: Option[User], userId: Long)(implicit messages: Messages)

@main("Add New Subscription", maybeUser) {

    <h1> Add a subscription </h1>

    @form(routes.Application.save()) {
        <fieldset>

            @inputDate(subscriptionForm("date"), '_label -> "Date of renewal")
            @inputText(subscriptionForm("cost"), '_label -> "Cost of renewal")
            @inputText(subscriptionForm("name"), '_label -> "Name of subscription")
            @inputText(subscriptionForm("frequency"), '_label -> "Frequency of renewal")
            <input type="hidden" name="userId" value="@userId" />

        </fieldset>



        <div class="actions">
            <input type="submit" value="Create this subscription" class="btn primary"/> or
            <a href="@routes.Application.list()" class="btn">Cancel</a>
        </div>
    }
}