@(id: Long, subscriptionForm: Form[Subscription])(implicit messages: Messages)

    @import helper._

    @noUser {

        <h1>Edit Subscription</h1>

        @form(routes.Application.update(id)) {

            <fieldset>

                @inputDate(subscriptionForm("date"), '_label -> "Date of renewal")
                @inputText(subscriptionForm("cost"), '_label -> "Cost of renewal (Must be an integer!)")
                @inputText(subscriptionForm("name"), '_label -> "Name of subscription")
                @select(
                    subscriptionForm("frequency"),
                    Seq(
                        "7" -> "Every week",
                        "14" -> "Every two weeks",
                        "30" -> "Once a month",
                        "90" -> "Every 3 months",
                        "180" -> "Every 6 months",
                        "365" -> "Every year",
                        "730" -> "Every two years"
                    ),
                    '_label -> "Frequency",
                    '_default -> "-- Choose a frequency --",
                    '_showConstraints -> false
                )
                @select(
                    subscriptionForm("category"),
                    Seq(
                        "entertainment" -> "Entertainment",
                        "education" -> "Education",
                        "business" -> "Business",
                        "health" -> "Health"
                    ),
                    '_label -> "Category",
                    '_default -> "-- Choose a category --",
                    '_showConstraints -> false
                )

            </fieldset>

            <div class="actions">
                <input type="submit" value="Save this subscription" class="btn primary"> or
                <a href="@routes.Application.list()" class="btn">Cancel</a>
            </div>

        }

        @form(routes.Application.delete(id), 'class -> "topRight") {
            <input type="submit" value="Delete this subscription" class="btn danger">
        }

    }