@(id: Long, subscriptionForm: Form[Subscription])(implicit messages: Messages)

    @import helper._

    @noUser {

        <h1>Edit Subscription</h1>

        @form(routes.Application.update(id)) {

            <fieldset>

                @inputDate(subscriptionForm("date"), '_label -> "Date of renewal")
                @inputText(subscriptionForm("cost"), '_label -> "Cost of renewal")
                @inputText(subscriptionForm("name"), '_label -> "Name of subscription")
                @inputText(subscriptionForm("frequency"), '_label -> "Frequency of renewal")

            </fieldset>

            <div class="actions">
                <input type="submit" value="Save this subscription" class="btn primary"> or
                <a href="@routes.Application.list()" class="btn">Cancel</a>
            </div>

        }

        @form(routes.Application.delete(id), 'class -> "topRight") {
            <input type="submit" value="Delete this subscription" class="btn danger">
        }

    }