@(id: Long, subscriptionForm: Form[Subscription])(implicit messages: Messages)

    @import helper._

    @noUser {
    <div class="container-fluid">
        <h1 class="modal-header">Edit Subscription</h1>

        @form(routes.Application.update(id)) {

        <fieldset>

            <dl class="form-group">
                <dt><label for="date">Date of renewal</label></dt>

                <dd>
                    <input type="date" class="form-control" id="date" name="date" value="" />
                </dd>
            </dl>

            <dl class="form-group" id="cost">
                <dt><label>Cost of Renewal</label></dt>
                <dd><input type="number" class="form-control" name="cost" placeholder="Cost of Renewal"/></dd>
            </dl>

            <dl class="form-group">
                <dt><label for="autocomplete">Subscription's Company Name</label></dt>

                <dd><select name="name" id="autocomplete" class="form-control" >
                </select></dd>
            </dl>


            <dl class="form-group" id="frequency">
                <dt><label for="frequency">Frequency of Renewal</label></dt>

                <dd><select name="frequency" class="form-control">
                    <option selected disabled>Select a frequency...</option>
                    <option value="7">Every week</option>
                    <option value="14">Every two weeks</option>
                    <option value="30">Once a month</option>
                    <option value="90">Every three months</option>
                    <option value="180">Every six months</option>
                    <option value="365">Every year</option>
                    <option value="730">Every two years</option>
                </select></dd>
            </dl>

            <dl class="form-group" id="category">
                <dt><label for="category">Subscription Category</label></dt>

                <dd><select name="category" class="form-control">
                    <option selected disabled>Choose a category...</option>
                    <option value="Business">Business</option>
                    <option value="Education">Education</option>
                    <option value="Entertainment">Entertainment</option>
                    <option value="Health">Health</option>
                </select></dd>
            </dl>

        </fieldset>

        <div class="button-bar">
            <input type="submit" value="Save subscription" class="btn btn-success" style="width: 14.85em">
            <a href="@routes.Application.list()" class="btn btn-danger" style="width: 14.85em">Cancel</a>

        }

        @form(routes.Application.delete(id)) {
            <input type="submit" value="Delete subscription" class="btn btn-warning" style="width: 30em">
        }
    </div>
    </div>
}

