@import models.AuthUser
@import repos.UsersRepo

@(title: String, maybeUser: Option[AuthUser], usersRepo: UsersRepo)(implicit messages: Messages)

    @main(title, maybeUser) {
        @if(maybeUser.isDefined) {
            @defining(maybeUser.get) { user =>
                @* (controllers.routes.Application.createNewUser(user.userId, user.name, user.avatarUrl)) *@
                @usersRepo.insert(User.apply(null, user.userId, user.name, user.avatarUrl))
                <p>Hello @user.name</p>
                <img src="@user.avatarUrl"/>
            }

            <p><a href="@controllers.routes.AuthController.logOut()">Log out</a></p>
        }
    }
