@(impendingSubscriptionsList: SubscriptionList[Subscription], allSubscriptionsList: SubscriptionList[Subscription])(implicit flash: play.api.mvc.Flash = play.api.mvc.Flash.emptyCookie, messages: Messages)

@header(title: String) = {
        <b>@title</b>
}

@noUser {
    <img src="@routes.Assets.versioned("images/Recur300x300a.png")" style="width: 30em; height: auto; display: block; margin-left: auto; margin-right: auto"/>

    @flash.get("success").map { message =>
        <div class="alert-message warning">
            <strong>Done!</strong> @message
        </div>
    }

    @Option(impendingSubscriptionsList.items).filterNot(_.isEmpty).map { subscriptions =>
        <div class="panel panel-default">
            <div class="panel-heading">Impending Subscriptions</div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Cost of renewal</th>
                        <th>Date of renewal</th>
                        <th>Frequency</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                @subscriptions.map {
                    case (subscription) => {
                        <tr>
                            <td><a href="@routes.Application.edit(subscription.id.get)">@subscription.name</a></td>
                            <td> @subscription.date</td>
                            <td> @subscription.cost</td>
                            <td> @subscription.frequency</td>
                            <td> @subscription.category</td>
                            }
                }
                        </tr>
                </tbody>
            </table>
        </div>
    }

    @Option(allSubscriptionsList.items).filterNot(_.isEmpty).map { subscriptions =>
    <div class="panel panel-default">
        <div class="panel-heading">All Subscriptions</div>
     <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Cost of renewal</th>
                <th>Date of renewal</th>
                <th>Frequency</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>

        @subscriptions.map {
            case (subscription) => {
                <tr>
                    <td><a href="@routes.Application.edit(subscription.id.get)">@subscription.name</a></td>
                    <td> @subscription.date</td>
                    <td> @subscription.cost</td>
                    <td> @subscription.frequency</td>
                    <td> @subscription.category</td>
                </tr>
            }
        }

        </tbody>
     </table>
    </div>


    }.getOrElse {

        <div class="well">
            <em>Nothing to display</em>
        </div>

    }
}




