@(content: Html)

<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Recur</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    @*<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/bootstrap.min.css")'>*@
    <link href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css' rel='stylesheet' />
    <link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/main.css")'>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@routes.Application.index()">Recur</a>
            </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="@routes.Application.list()">Subscriptions List</a></li>
                    <li><a href="@routes.Application.create()">Add New Subscription</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@routes.AuthController.logOut()">Sign Out</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

<section id="main" class="container">
@content
</section>

<script src='https://code.jquery.com/jquery-3.0.0.min.js'></script>
<script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")" type="text/javascript"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js' type='text/javascript'></script>
<script src="@routes.Assets.versioned("javascripts/autocomplete.js")"></script>
</body>
</html>